.git
.venv
.ruff_cache
.pytest_cache
.mypy_cache
.vscode

__pycache__/
*.py[cod]
*$py.class

.env
.env.*

data/
raw/
processed/
spider_sft/
models/
model/
checkpoints/
checkpoint/
runs/
run/
outputs/
output/

mnt/nosql/
/mnt/nosql/
